<div class="row">
  <div class="col-xs-12">
    <h2>Enregistrer un nouveau livre</h2>
    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <label for="title">Titre : </label>
        <input id="title" type="text" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">Auteur : </label>
        <input id="author" class="form-control" formControlName="author" type="text">
      </div>
      <div class="form-group">
        <label for="synopsis">Synopsis : </label>
        <textarea id="synopsis" class="form-control" formControlName="synopsis"></textarea>
      </div>
      <button type="submit" [disabled]="bookForm.invalid">Enregistrer</button>
    </form>
  </div>
</div>
