.book-title {
  font-weight: bold;
}

div .list-group {
  margin-bottom: 20px;
}

.list-of-books {
  cursor: pointer;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.item-book:hover {
  color: white;
  background-color: #286090;
}

.item-book {
  /*margin: 10px 15px;*/
  padding: 15px;
  border-right: 0.7px solid darkgrey;
  border-radius: 2px;
}

.item-book p {
  margin: 0px;
}

.list-of-books {
  padding: auto;
}

.suppr {
  border-radius: 5px;
}

.item-ico img {
  max-width: 30px;
  margin: 10px 15px;
}

.ico-delete {
  border-right: 0.7px solid darkgrey;
}

.item-ico {
  border-radius: 2px;
}

.ico-delete:hover {
  background-color: #cd1c1c;
}

.ico-edit:hover {
  background-color: dodgerblue;
}
