.book-title {
  font-weight: bold;
}

.list-of-books {
  cursor: pointer;
}

.list-of-books:hover {
  color: white;
  background-color: #286090;
}

.suppr {
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.suppr img {
  max-width: 20px;
}
